<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<br>
<div class="container">
<h2 class="text-center">FAQ</h2>
    <hr>
    <div>
        <h5>What is VBC?</h5>
        <p>VBC is an online Virtual Business Card for users to post their credentials so that clients can get in contact with them.</p>
        <br>
        <h5>How do I get started?</h5>
        <p>On the top navbar all you need to do is click on the register tab to get started.</p>
        <br>
        <h5>Are the cards customizable?</h5>
        <p>With VBC users can add and edit any information about their business, as well as add a personalized profile picture</p>
    </div>
</div>
</body>
</html>